.button {
    text-decoration: none;
    padding: $spacing-xs $spacing-s;
    text-align: center;
    background: $colour-brand;
    color: $colour-white;
    text-transform: capitalize;

    @add-mixin hover {
        cursor: pointer;
        background: color($colour-brand blackness(30%))
    }

}
