.c-footer {

    @add-mixin medium {
        margin-top: 200px;
    }
}

.c-footer {
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a.c-footer__nav-link {
    margin-left: $spacing;
    color: $colour-supplementary;
    float: right;

    h3 {
        font-size: 16px;
        margin-bottom: 0;
        font-weight: normal;

        @add-mixin smallish {
            font-weight: 700;
            font-size: 20px;
        }
    }
    @add-mixin smallish {
        margin-left: $spacing-xl;
    }

    display: inline-block;

    &.active {
        color: $colour-text;
    }
}

a.c-footer__logo-wrapper {
    display: inherit;
    color: $colour-supplementary;
}
