---
layout: default
title: "Koordinates"
description: "Discover Earth’s Data"
slug: 'koordinates'
excerpt-card-theme: 'light'
excerpt-card-image: '/assets/work-excerpt/koordinates.png'
social-image: "https://jackylee.co/assets/work/koordinates/koordinates-cover.jpg"
feature-on-home: true
coming-soon: false
meta-job-title: "Senior Product Designer / Front End Engineer"
meta-job-duration: "2016 – Current"
meta-job-tags: "product design, interaction, front end, ux"
---

<section class="c-section c-section--extend-banner c-work-content">
  <div class="o-wrapper o-gutters">
    {% include image.html url='/assets/work/koordinates/product-image' alt='product image'%}
  </div>
</section>


<div class="o-wrapper o-gutters">
  <section class="c-section">
    <div class="c-work-content--reading">
      <p class="t-supplementary"><strong>{{page.meta-job-title}}</strong></br>
        <span class="t-supplementary">{{page.meta-job-duration}}</span>
      </p>
      <p>
        The Koordinates platform is designed and engineered for all data users—and not just those with technical expertise. With your own data service, you can realize the true potential of your geospatial data.
      </p>
      <p>
        <a href="https://koordinates.com/about/">Find out more about Koordinates</a>
      </p>
    </div>
  </section>

  <section class="c-section">
    <div class="c-work-content c-work-content--reading">
      <h2>Product Style Guide</h2>
      <p>We have been chipping away at developing a platform-wide Sketch product style guide that follows atomic design principles.</p>
    </div>
    <div class="c-work-content">
      {% include image.html url='/assets/work/koordinates/product-style-guide' alt='product style guide' caption='Platform-wide product style guide that follows atomic design principles.'%}
    </div>
  </section>

  <section class="c-section">
    <div class="c-work-content c-work-content--reading">
      <h2>Product Homepage</h2>
      <p>
        Previously, users go straight into a browse view, with thousands of datasets on the platform. We wanted an easier way to navigate them to datasets most relevant to them. The new homepage features a quick way to start searching for data, highlights your recently viewed data (when logged in), lists regions that have data near you, displays recently updated data, and shows authoritative sources of data published on the platform.
        <a href="https://koordinates.com/blog/we-have-a-new-homepage-on-koordinates/">Read more about this release.</a>
      </p>
    </div>
    <div class="c-work-content">
      {% include image.html url='/assets/work/koordinates/homepage-top' alt='product homepage' caption='Homepage search & filters banner.'%}
      {% include image.html url='/assets/work/koordinates/homepage' alt='product homepage' caption='Homepage explore by Regions, recently updated datasets'%}
    </div>
  </section>

  <section class="c-section">
    <div class="c-work-content c-work-content--reading">
      <h2>Design Prototypes</h2>
      <p>
        One of the tools I enjoy designing with is with code. Protyping with code allows me to program proper logic into it – something that other static prototyping tools lacked. Below are some of examples I have worked on.
      </p>
    </div>

    <div class="c-work-content c-work-content--reading">
      <h3>GIS Map Viewer</h3>
      <p>
        This is an exploration for viewing geospatial data on mobile. This interaction focuses on browsing datasets, switching basemap styles, fly to locations & cropping dataset. This prototype was built with <a href="https://framer.com">Framer</a>.
      </p>
      <p>
        <a href="https://framer.cloud/icOrS">View Prototype</a>
      </p>
    </div>

    <div class="c-work-content">
      <video autoplay controls loop poster="/assets/work/koordinates/framer-mapbox-poster.png">
      <source src="/assets/work/koordinates/framer-mapbox.webm" type="video/webm">
      <source src="/assets/work/koordinates/framer-mapbox.mp4" type="video/mp4">
      </video>
    </div>



  </section>

  <section class="c-section">
    <div class="c-work-content c-work-content--reading">
      <h3 class="o-spacing-top--l">Table filter dropdown & lozenge</h3>
      <p>
        While designing the admin part of the platform, we needed a simple way to filter large number of table rows. To quickly validate some ideas, I put together a React App prototype that uses our product styleguide css. This early phase prototype went through numerous iterations and laid the usability foundation of this feature.
      </p>
      <p>
        <a href="https://jackylee.co/matai-react/exports">View Prototype</a>
      </p>
    </div>

    <div class="c-work-content">
      <video autoplay controls loop poster="/assets/work/koordinates/table-filter-poster.png">
      <source src="/assets/work/koordinates/table-filter.webm" type="video/webm">
      <source src="/assets/work/koordinates/table-filter.mp4" type="video/mp4">
      </video>
    </div>

  </section>

  <section class="c-section">
    <div class="c-work-content c-work-content--reading">
      <h2>Development</h2>
      <p>
        Apart from design work, I also often take care of the front end side of things and have worked with Django, Wagtail CMS for our <a href="https://koordinates.com/about">Koordinates Marketing Site</a>.
      </p>
    </div>
  </section>

</div>
