---
layout: default
title: "Vend"
description: "Run the world’s best retail"
slug: 'vend'
excerpt-card-theme: 'light'
excerpt-card-image: '/assets/work-excerpt/vend.png'
feature-on-home: true
coming-soon: false
meta-job-title: "Product Designer"
meta-job-duration: "2014 – 2016"
meta-job-tags: "product design, interaction, front end, ux"
---

<section class="c-section c-section--extend-banner c-work-content">
  <div class="o-gutters o-wrapper">
    {% include image.html url='/assets/work/vend/vend-product' alt='vend product image'%}
  </div>
</section>

<div class="o-wrapper o-gutters">
  <section class="c-section">
    <div class="c-work-content--reading">
      <p class="t-supplementary"><strong>{{page.meta-job-title}}</strong></br>
        <span class="t-supplementary">{{page.meta-job-duration}}</span>
      </p>
      <p>
        Vend is New Zealand’s leading retail POS software, inventory management, ecommerce & customer loyalty for iPad, Mac and PC. Easily manage & grow your business in the cloud.
      </p>
      <p>
        <a href="https://www.vendhq.com">Find out more about Vend</a>
      </p>
    </div>
  </section>

  <section class="c-section">
    <div class="c-work-content c-work-content--reading">
      <h2>iOS Register</h2>
      <p>I was involved with designing the point of sale on the iOS Register App. Tasks includes user research, user interviews, usability testing, interface & illustrations.
      <a href="https://www.vendhq.com/nz/register">View iOS Vend Register</a>
      </p>

      <h3>Product Animations</h3>
      <p>Screenshot recordings can be difficult to follow sometimes, so I put together some illustration animations to better demonstrate some of the compelling features Vend offers. Illustrated with Adobe Illustrator, and animated with Adobe After Effects.</p>
      <p>
        <h3>It's Fast</h3>
        <blockquote cite="http://">
          We reimagined the checkout process to save swipes, touches and keypad taps. Quicker sales mean more time making customers happy.
        </blockquote>
        <video autoplay controls loop poster="/assets/work/vend/vend-speed-poster.png">
          <source src="/assets/work/vend/vend-speed.webm" type="video/webm">
            <source src="/assets/work/vend/vend-speed.mp4" type="video/mp4">
            </video>
      </p>

      <p>
        <h3>Quickly Access Products</h3>
        <blockquote cite="http://">
          Access your most popular products faster, and create an intuitive interface using our custom Quick Keys. You can now access folders from the sell screen that hold their own Quick Keys within.
        </blockquote>
        <video autoplay controls loop poster="/assets/work/vend/vend-quick-keys-poster.png">
          <source src="/assets/work/vend/vend-quick-keys.webm" type="video/webm">
            <source src="/assets/work/vend/vend-quick-keys.mp4" type="video/mp4">
            </video>
      </p>
    </div>
  </section>

  <section class="c-section">
    <div class="c-work-content c-work-content--reading">
      <h2>Web Register</h2>
      <p>After collecting valuable feedback from our users, we knew we had to bring some of what we learnt from iOS Register back to the web, which has largely remained unchanged since the beginning. The old web point of sale was also showing signs of technical debt which hindered on development time for new features. It was time for a rewrite. It was time for a redesign.</p>
      <blockquote cite="https://medium.com/we-build-vend/the-inside-scoop-designing-vend-s-new-point-of-sale-3e392f12955">
        How do you redesign a bread & butter tool that 15,000+ retailers around the world use all day, everyday?
      </blockquote>
      <p>
        <a href="https://medium.com/we-build-vend/the-inside-scoop-designing-vend-s-new-point-of-sale-3e392f12955">Read more about the design process.</a>
      </p>
      {% include image.html url='/assets/work/vend/vend-web-register' alt='vend product image'%}
    </div>
  </section>

  <section class="c-section">
    <div class="c-work-content c-work-content--reading">
      <h2>Prototypes</h2>
      <p>
        Below are some of the design explorations I did.
      </p>

      <h3><a href="https://dribbble.com/shots/1979865-Framer-user-switching-flip-card">Register User Switching Modal</a></h3>
      <p>
        <img src="https://cdn.dribbble.com/users/125053/screenshots/1979865/dribbbleflip.gif" alt="register user switching modal">
      </p>

      <h3><a href="https://dribbble.com/shots/1671161-Framer-js-Drag-To-Delete-Prototype">Quick Keys Drag To Delete</a></h3>
      <p>
        <img src="https://cdn.dribbble.com/users/125053/screenshots/1671161/drag_to_delete_3.gif" alt="drag to delete">
      </p>

      <h3><a href="https://dribbble.com/shots/1772067-Open-Register-Animation">Open Register Animation</a></h3>
      <p>
        <img src="https://cdn.dribbble.com/users/125053/screenshots/1772067/asdfasdfasdfadsf.gif" alt="open register">
      </p>

      <h3><a href="https://dribbble.com/shots/2193301-Framer-Onboarding-Animation">Register Onboarding</a></h3>
      <p>
        <img src="https://cdn.dribbble.com/users/125053/screenshots/2193301/onboarding22.gif" alt="register onboarding">
      </p>

      <h3><a href="https://dribbble.com/shots/2440457-Vend-navigation-idea">Navigation Redesign</a></h3>
      <p>
        <img src="https://cdn.dribbble.com/users/125053/screenshots/2440457/navcolour.gif" alt="vend navigation redesign">
      </p>

      <h3><a href="https://dribbble.com/shots/2665788-Framer-modal-prototype">Upsell modal</a></h3>
      <p>
        <img src="https://cdn.dribbble.com/users/125053/screenshots/2665788/untitled.gif" alt="vend upsell modal">
      </p>

    </div>
  </section>


</div>
