---
layout: default
title: "CookSafe"
description: "Food Control Plan in minutes"
slug: 'cooksafe'
excerpt-card-theme: 'light'
excerpt-card-image: '/assets/work-excerpt/cooksafe.png'
social-image: "https://jackylee.co/assets/work/cooksafe/cooksafe-cover.jpg"
feature-on-home: true
coming-soon: false
meta-job-title: "Designer"
meta-job-duration: "2017"
meta-job-tags: "product design, interaction, front end, ux"
---
<section class="c-section c-section--extend-banner c-work-content">
  <div class="o-gutters o-wrapper">
    {% include image.html url='/assets/work/cooksafe/cooksafe-product' alt='cooksafe product image'%}
  </div>
</section>

<section class="c-section">
  <div class="o-gutters o-wrapper">
    <div class="c-work-content--reading">
      <p class="t-supplementary"><strong>{{page.meta-job-title}}</strong></br>
        <span class="t-supplementary">{{page.meta-job-duration}}</span>
      </p>
      <p>
        CookSafe was unfortunately a shortlived project. It did not make it to launch date. However, it still went through weeks of scoping & design before the plug was pulled, so I'll still share it anyway.
      </p>
      <p>
        <a href="http://cooksafe.co.nz/">Find out more about CookSafe</a>
      </p>
    </div>
  </div>
</section>

<section class="c-section">
  <div class="o-gutters o-wrapper">
    <div class="c-work-content c-work-content--reading">
      <h2>Easier Food Control Plans</h2>
      <p>
        There's a common thread in the food & hospitality business – Getting a food safety grade is a tedious, time consuming and repetitive proces. Not only do they need to print out a lot of forms, often they are thrown away if certain sections don't apply to their business, thus wasting a bunch of resource every year.
      </p>
      <p>
        CookSafe wants to simplify the process by taking the user through bite-sized question & answer interfaces rather than traditional forms. Through the answers, CookSafe can provide you with a Food Control Plan tailored to <strong>your</strong> business. Nothing more, nothing less. No more resource wasting and get on with running your business like a boss.
      </p>
    </div>
    <div class="c-work-content">
      {% include image.html url='/assets/work/cooksafe/cooksafe-plan' alt='vend product image'%}
      {% include image.html url='/assets/work/cooksafe/cooksafe-create' alt='vend product image'%}
    </div>
  </div>
</section>
