---
layout: default
title: "Moustache"
description: "Milk & Cookie Bar"
slug: 'moustache-milk-and-cookie-bar'
excerpt-card-theme: 'dark'
excerpt-card-image: '/assets/work-excerpt/moustache.png'
feature-on-home: true
coming-soon: false
meta-job-title: "Designer / Developer"
meta-job-duration: "2016 – Current"
meta-job-tags: "design, branding, illustration, front end, shopify, packaging"
---
<section class="c-section c-section--extend-banner c-work-content">
  <div class="o-gutters o-wrapper">
    {% include image.html url='/assets/work/moustache/minnie' alt='minnie'%}
  </div>
</section>

<section class="c-section">
  <div class="o-gutters o-wrapper">
    <div class="c-work-content--reading">
      <p class="t-supplementary"><strong>{{page.meta-job-title}}</strong></br>
        <span class="t-supplementary">{{page.meta-job-duration}}</span>
      </p>
      <p>
        My partner in crime (Deanna) owns a hip little cookie shop called <a href="https://www.facebook.com/MoustacheNZ/">Moustache Milk & Cookie Bar</a> and their cookies are the bomb. Since I'm the non-business saavy half, I have been trying to make myself useful by doing bits and pices of design work whenever she needs them.
      </p>
    </div>
  </div>
</section>

<section class="c-section">
  <div class="o-gutters o-wrapper">
    <div class="c-work-content c-work-content--reading">
      <h2>Illustrations & Posters</h2>
      <p>The bus goes on a <a href="https://www.instagram.com/p/Bd4LOqRlW-9/?taken-by=moustachenz">nationwide tour</a> during summer, so as part of that I have been designing social media posters when needed.</p>
      {% include image.html url='/assets/work/moustache/tour-posters' alt='tour poster'%}
    </div>
</section>

<section class="c-section">
  <div class="o-gutters o-wrapper">
    <div class="c-work-content c-work-content--reading">
      <h2>Shopify Theme</h2>
      <p>The online store is running on Shopify, and I've created a custom theme on top of their awesome <a href="https://shopify.github.io/Timber/">Timber Development Framework</a>.</p>
      <p>
        <a href="https://medium.com/@p0pmaker/building-moustache-ecommerce-1da0fc008d36">Read about the design & build process here</a>
      </p>
    </div>

    <div class="c-work-content c-work-content--reading">
      <img src="https://cdn.dribbble.com/users/125053/screenshots/3134905/artboard_2.png" alt="moustache online store">
    </div>
</section>

<section class="c-section">
  <div class="o-gutters o-wrapper">
    <div class="c-work-content c-work-content--reading">
      <h2>Packaging</h2>
      <p>Deanna often comes up with crazy ideas for the market, and we've been doing packaging design ourselves.</p>
    </div>

    <div class="c-work-content c-work-content--reading">
      {% include image.html url='/assets/work/moustache/cookie-candle' alt='cookie candle'%}
      {% include image.html url='/assets/work/moustache/mo-dough' alt='mo dough'%}
    </div>
</section>
