* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 13px;

    @add-mixin smallish {
        font-size: 16px;
    }
}

body {
    color: $colour-text;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1, h2, h3, p {
    margin-bottom: 16px;
    margin-top: 0;
    -webkit-font-smoothing: antialiased;
}

h1 {
    font-weight: 800;
    font-size: 48px;
    line-height: 56px;

    @add-mixin smallish {
        font-size: 48px;
        line-height: 64px;
    }
}

h2 {
    font-size: 36px;
    line-height: 52px;
}

h3 {
    font-size: 24px;
    line-height: 40px;
}

span,
p {
    font-size: 20px;
    line-height: 32px;
}

input {
    width: 100%;
    outline: 0;
    border-radius: 5px;
    border: 0;
    padding: $spacing;
    font-size: 20px;
    box-shadow: inset 0 0 0 2px $colour-framing;
    -webkit-appearance: none;

    &:focus,
    &:active {
        box-shadow: inset 0 0 0 2px $colour-brand;
    }
}

input[type=submit] {
    box-shadow: none;
}

a,
link {
    color: $colour-brand;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

strong {
    color: $colour-text;
}
