<header class="c-header" role="banner">
  <div class="o-wrapper o-gutters">
    <div class="o-flex o-flex-justify--center">
      <a href="/" class="c-header__logo-wrapper">
        {% include logo.html %}
      </a>
      <nav>
        <!-- <a class="{% if page.slug == 'about' %}active{% endif %} c-header__nav-link" href="/about/"><h3>About</h3></a> -->
        <!-- <a class="{% if page.slug == 'home' %}active{% endif %} c-header__nav-link" href="/"><h3>Work</h3></a> -->
      </nav>
    </div>
  </div>
</header>
