<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup" class="c-mailchimp-form">
  <form action="https://cooksafe.us17.list-manage.com/subscribe/post?u=155e4cfff041d161fa96eea4b&amp;id=3c599c4d96" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll" class="o-flex c-mailchimp-form__inputs">
      <input type="email" value="" name="EMAIL" class="c-mailchimp-form__email" id="mce-EMAIL" placeholder="Email address" required>
      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_155e4cfff041d161fa96eea4b_3c599c4d96" tabindex="-1" value="">
      </div>
      <div>
        <input type="submit" value="{{include.label}}" name="subscribe" id="mc-embedded-subscribe" class="button">
      </div>
    </div>
  </form>
</div>

<!--End mc_embed_signup-->
